::-webkit-scrollbar{
width: 0px;

}

body{
margin-inline-start: 0;
margin-inline-end: 0;
margin: 0;
padding: 0;
margin-block-end: 0;
margin-block-start: 0;
font-family: sans-serif;
width: 100%;

}

header{
padding-left: 50px;
padding-right: 50px;
background-color: rgb(14, 0, 0);

}

// navbar start
// navbar start
// navbar start

.navbar{

width: 100%;
height: 70px;
display: flex;
align-items: center;
text-align: center;
gap: 20px;
justify-content: end;


border-spacing: 10px;
margin-right: auto;
input[type=text]{
width: 100px;
background-color: black;
color: white;
border: none;
border-bottom: 2px solid white;
transition: width 0.4s ease-in-out;    
}
input[type=text]:focus{
border: none;
outline: none;
border-bottom: 2px solid rgb(255, 255, 255);
width: 200px;
transition: 0.6s ease;
}   

h1{
color:white ;
margin-right: auto;

}
h4{
margin: 0px;
cursor: pointer;
transition: 0.4s;
color: white;
}
h4:hover{
color: rgb(204, 204, 204);
}

a{
color: white;
text-decoration: none;
cursor: pointer;

:hover{
color: rgb(204, 204, 204);
}
h4{
margin: 0px;
cursor: pointer;
transition: 0.4s;
color: white;
}

b{
color: rgb(253, 0, 97);
transition: 1s;
}
b:hover{
color: rgb(255, 0, 0);


}
}
.category{
transition: 0.4s;
z-index: 2;

.gamecategory{
display: none;
margin-top: 10px;
border-radius: 5px;
background-color: rgb(14, 0, 0);
padding: 10px 10px 10px 10px;
transition: 0.6s;
border: 2px solid white;
h3{
border-bottom: 2px solid rgb(255, 255, 255);
padding: 5px;
margin: 0;
margin-bottom: 5px;
color: #ffffff;
transition: 0.3s;
cursor: pointer;
}
h3:hover{
border-bottom: 2px solid rgb(253, 0, 97);
color: rgb(204, 204, 204);

}
}
}
.category:hover{
margin-top: 230px;
}
.category:hover .gamecategory{
display: block;
transition: 0.4s;
}




}

@media screen and (max-width:750px)
{
header{
padding-right:15px ;
padding-left: 15px;
height: 120px;
}
.navbar{
h4{
display: none;
}
a{
h4{
display:none;

}
}
flex-wrap: wrap;
input[type=text]{
width: 100%;
height: 30px;
background-color: rgb(255, 255, 255);
color: rgb(0, 0, 0);
border: none;
border-bottom: 2px solid rgb(255, 255, 255);
transition: width 0.4s ease-in-out;    
position: relative;
bottom: 30px;

}
input[type=text]:focus{
width: 100%;

}
}

.openbtn{
display:block;

}
#main{

display: block;
}
}


.sidebar {
  height: 220px;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: auto;
  right: 0;
  background-color: rgb(14, 0, 0);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 18px 10px;
  text-decoration: none;
  font-size: 25px;
  text-align: start;
  color: #ffffff;

  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #bdbdbd;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: -5px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: rgb(14, 0, 0);
  color: white;
  border: none;
  display: none;
}

.openbtn:hover {
  background-color: rgb(14, 0, 0);
}

#main {
    display: none;
  transition: margin-left .5s;
  padding: 16px;
}
@media screen and (max-width:750px)
{
.openbtn{
    display:block;
    
    }
    #main{
    
    display: block;
    }
   
}
@media screen and (max-width:350px)
{

.navbar{
gap: 20px 5px ;
h1{
font-size: 30px;
}

}

}

// navbar end
// navbar end
// navbar end


// intro start
// intro start
// intro start

.intro{
padding: 50px 0px 0px 100px; 
margin: 0;
gap: 0;
flex-wrap: wrap;


background-size: cover;
height: 200px;
h1{
color: rgb(253, 0, 97);
font-size: 40px;
font-weight: bolder;
margin: 0;
}
h2{
margin: 0px 0px 10px 0px;
}
}
@media screen and (max-width:750px){
.intro{
    padding: 50px 0px 0px 20px; 


}



}

// log in start
// log in start
// log in start

.backgrounder{
  display: none;
position: fixed; /* Stay in place */
z-index: 3; /* Sit on top */
padding-top: 200px; /* Location of the box */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.9); 

}


.login{
margin-left: auto;
margin-right: auto;
width: 40%;
background-color: #ffffff;
align-items: center;
border-radius: 10px;
padding: 5px 20px;
display: flex;
flex-direction: column;
height: 450px;
width: 500px;
gap: 20px;


input[type=text]{
  
    
border: none;
border-bottom: 2px solid rgb(14, 0, 0);
width: 300px;
height: 30px;
font-size: 16px;
}
input[type=text]:focus{
outline: none;
}
b{
    color: rgb(253, 0, 97);
}
button{
margin-top: 20px;
cursor: pointer;
width: 200px;
height: 30px;
border: none;
background-color: rgb(14, 0, 0);;
color: white;
border-radius: 2px;
transition: 0.4s;
}
button:hover{

background-color:rgb(253, 0, 97) ;

}
h5{
margin: 0;

}
p{
margin-top: 0px;
background-color: rgb(14, 0, 0);;
width: 400px;
height: 3px;
font-size: 1px;
}

h2{
margin: 0;
margin-left: auto;
cursor: pointer;
}


}


// login end
// login end
// login end


.sec{
display: flex;
padding: 100px;
padding-top: 50px;
}


.gamesbar1{


margin-left: auto;
margin-right: auto;
background-color: rgb(14, 0, 0) ;
padding: 20px;
margin: 0;
height: 2350px;


}
.gamesbar2{

margin: 0;
margin-left: auto;
margin-right: auto;
background-color: rgb(14, 0, 0) ;
height: 2350px;
padding: 20px;




}

// games start
// games start
// games start

.games{
padding-top:100px ;
display: flex;
margin-left: 100px;
gap: 100px;
flex-wrap: wrap;

.box{
width: 500px;


img{
width: 500px;
height: 300px;
object-fit: cover;
transition: 0.4s;
}
img:hover{
opacity: 0.5;
background-color: #ffffff;

}
a{
text-decoration: none;
}

h2{
color: #ffffff;
text-align: center;
transition: 0.4s;
}
h2:hover{
opacity: 0.6;

}  
}
}

@media screen and (max-width:1870px) {
.games{
.box{
  width: 400px;

img{
width: 400px;
height: 250px;

}}}}
@media screen and (max-width:1670px) {
.games{
.box{
  width: 300px;

img{
width: 300px;
height: 200px;

}}}}

@media screen and (max-width:1470px) {
.sec{
padding: 0px;

}

}

// games end
// games end
// games end


// popular games
// popular games
// popular games

.populargames{
background-color: #ffffff;
padding: 20px;
width: 270px;
display: flex;
justify-content: center;
flex-direction: column;
margin-left: auto;
margin-right: 80px;
margin-top: 70px;
h2{
  text-align: center;
  align-items: center;
  justify-content: center;
background-color: rgb(14, 0, 0);
color: white;
width: 260px;
text-align: center;
padding-top: 5px;
padding-bottom: 5px;
margin-bottom: 50px;

}
b{
color: rgb(253, 0, 97);

}

}

.popularbox{
gap: 10px;
display: flex;
margin-bottom: 40px;
img{
width: 60px;
height: 60px;
object-fit: cover;
transition: 0.4s;
}
a{
  text-decoration: none;
}
h3{
text-decoration: none;
color: rgb(14, 0, 0);
transition: 0.4s;
}
img:hover{
opacity: 0.5;
}

h3:hover{
opacity: 0.5;
}
}




@media screen and (max-width:1270px) {
.populargames{
display: none;


}

.gamesbar1{
display: none;

}
  }

@media screen and (max-width:840px) {

.games{
margin-left: 0;
justify-content: center;


.box{
  width: 400px;

img{
width: 400px;
height: 250px;
}
}}
.gamesbar2{
height: 100%;
}
}
@media screen and (max-width:440px) {

.games{
margin-left: 0;
justify-content: center;


.box{
  width: 300px;

img{
width: 300px;
height: 200px;
}
}}}


// populargames end
// populargames end
// populargames end

@media screen and (max-width:340px) {

.games{
margin-left: 0;
justify-content: center;


.box{
  width: 200px;

img{
width: 200px;
height: 150px;
}
}}}

@media screen and (max-width:500px) {
.sec{
padding-top: 100px;
}
}

@media screen and (max-width:550px) {
  .login{
height: 450px;
width: 400px;
}


}
@media screen and (max-width:450px) {

.login{
height: 450px;
width: 300px;
gap: 20px;


input[type=text]{
width: 200px;
height: 30px;
}
p{
width: 200px;
}
button{
width: 150px;
}

}}

@media screen and (max-width:350px) {

.login{
height: 450px;
width: 200px;
gap: 20px;


input[type=text]{
width: 150px;
height: 30px;
}
p{
width: 200px;
}
button{
width: 150px;
}
}}

// gameroom start 
// gameroom start 
// gameroom start 

.gameroomsec{
padding: 100px 150px 0px 150px;
}


.gameroom{
color: white;
background-color: rgb(14, 0, 0);
padding:50px 100px 50px 100px ;
h1{
text-align: center;
}

h4{
text-align: center;
}

img{
align-items: center;
text-align: center;
justify-content: center;

}

.dammit{

width: 100%;
display: flex;
justify-content: center;
text-align: center;
}
p{

background-color: white;
height: 2px;
width: 70%;
font-size: 1px;
margin-bottom: 50px;
}

button{

background:none ;
border: 2px solid white;
font-size: 25px;
border-radius: 5px;
padding: 10px;
color: white;
margin-top: 30px;
margin-bottom: 0;
cursor: pointer;
transition:  0.4s;

}
button:hover{

background-color: rgb(253, 0, 97);
color: black;
border: 2px solid rgb(253, 0, 97);
}

h2{
margin-top: 50px;
text-align: center;
margin-bottom: 50px;
}
b{
color: rgb(253, 0, 97);  
}
h4{
margin: 10px;
}
.gameroomflex{
width: 100%;
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
gap: 50px;
img{
width: 650px;
height: 366px;
object-fit:cover ;
}

}
h5{
font-size: 16px;
margin-bottom: 50px;

}


}


@media screen and (max-width:1040px) {
.gameroomsec{
padding: 100px 0px 0px 0px;
}
}
@media screen and (max-width:750px) {
.gameroom{
img{
width: 550px;
height: 333px;
}
.gameroomflex{
img{
width: 550px;
height: 333px;
}
}
}
}
@media screen and (max-width:650px) {
.gameroom{

padding:50px 20px 50px 20px ;
img{
width: 500px;
height: 300px;
}
.gameroomflex{
img{
width: 500px;
height: 300px;
}
}
}
}
@media screen and (max-width:550px) {
.gameroom{
img{
width: 300px;
height: 166px;
}
.gameroomflex{
img{
width: 300px;
height: 166px;
}
}
}}
@media screen and (max-width:320px) {
.gameroom{
img{
width: 200px;
height: 133px;
}
.gameroomflex{
img{
width: 200px;
height: 133px;
}
}
}}

.custom-container {
  max-width: 600px; /* Adjust as needed */
  margin-top: 5rem;
}

/* Center the form within the container */
.center-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}










// gameroom end 
// gameroom end 
// gameroom end 
